<div class="my-container mx-auto border border-dark">
<div class="row g-0">
    <div class="col-4 p-4">
        <div class="d-flex justify-content-center align-items-center">
           <img src="../../assets/Images/mobiles/10/{{imageIndex}}.jpg" alt="" class="w-100">
        </div>
        <div class="image-thumbnails mt-4 d-flex justify-content-between align-items-center">
            <img src="../../assets/Images/mobiles/10/1.jpg"
                 alt="Thumbnail Image" (click)="imageIndex = 1">
            <img src="../../assets/Images/mobiles/10/2.jpg"
                 alt="Thumbnail Image" (click)="imageIndex = 2">
            <img src="../../assets/Images/mobiles/10/3.jpg"
                 alt="Thumbnail Image" (click)="imageIndex = 3">
            <img src="../../assets/Images/mobiles/10/4.jpg"
                 alt="Thumbnail Image" (click)="imageIndex = 4">
            <img src="../../assets/Images/mobiles/10/5.jpg"
                 alt="Thumbnail Image" (click)="imageIndex = 5">
        </div>
    </div>
    <div class="col-8 p-4">
        <div class="card-header">
            <h5 >Title</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title text-success"> Final Price</h5>
            <span class="text-primary">-20 %
            </span>
            <h6 class="card-subtitle text-danger text-decoration-line-through">
                original price
            </h6>
        </div>
        <div class="card-body">  
        <h5 class="card-subtitle my-2 text-primary"> 12 product are available</h5>
         <button class="btn btn-outline-success" type="button">Add to cart</button>
        </div>
        <div class="card-body">
            <h5 class="card-text">card text description</h5>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" *ngFor="let i of [1,1,1,1]">{{i}}</li>
            </ul>
        </div>

    </div>
    <div class="row g-0">
       <div class="col-12 ps-5 pt-4 pb-3">
         <h3 class="border border-secondary text-center py-2 my-rounded-corner w-25">Related product</h3>
        </div>
        <div class="col-12">
            <app-suggested-product></app-suggested-product>
        </div>
    </div>
    <div class="row g-0 my-5">
        <div class="col p-3">
            <h3>Give Your Review</h3>
            <h5 class="mt-4">Write your review</h5>
            <textarea class="w-75 p-2"></textarea>
            <div class="d-flex align-items-start">
                <button class="btn btn-outline-secondary mt-4 me-5" type="button" >
                    Save Review
                </button>

                <div>
                    <h6 class="text-danger mt-4" >Login first, then enter the
                        review.</h6>
                    <h6 class="text-danger" >Review Cannot Be Empty!</h6>
                    <h6 class="text-success" >Review Saved Succesfully!</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col p-3">
        <h3>Other Reviews</h3>
        <h6 >No Reviews Yet!</h6>
        <div class="card mt-3" *ngFor="let review of [1,1,1,1]">
            <div class="card-header d-flex justify-content-between">
                <div class="card-text">
                    sameer
                    khaire
                </div>
                <div class="card-text fst-italic">
                    Reviewed On: <span class="fw-bold">
                        {{11 | date:"dd-MMM-yyyy"}}
                    </span>
                </div>
            </div>
                <div class="card-body">
                     <div class="card-text">good one!!</div>
                 </div>
            </div>
        </div>
    </div>
</div>

